body {
    background-color: #E5D7E2;
    margin: 0;
}

/* Header */

.burger-menu {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    gap: 5vw;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.menu-heading:hover {
    color: #A7396A;
}

header {
    background-color: #DB6D9E;
    margin: 0;
}

@media (max-width: 920px) {
    .menu {
        display: none;
    }

    .burger-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .burger {
        position: relative;
        width: 25px;
        height: 5px;
        padding: 15px;
        cursor: pointer;
    }

    .burger div,
    .burger::before,
    .burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: white;
        transition: all 0.5s ease-in-out;
    }

    .burger::before,
    .burger::after {
        content: " ";
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger.active div {
        transform: scale(0);
    }

    .burger.active::before {
        top: 45%;
        transform: rotate(-45deg);
    }
    
    .burger.active::after {
        bottom: 45%;
        transform: rotate(45deg);
    }
}

/* Main Page */

.main-page {
    display: flex;
    background-image: url('../image/imageforbackground.png');
    background-color: #E5D7E2; /* Used if the image is unavailable */
    height: 850px; /* You must set a specified height */
    background-position: center;
    background-size: cover;
    outline: 1px solid #FFFFFF;
    outline-offset: -20px;
}

.heading {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 54vw;
    background: rgba(88, 86, 86, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 20px;
}

.order-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    gap: 10px;
    width: 20vw;
    height: auto;
    background: #D9D9D9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;
}

.button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/* Categories */

div.categories, div.about-us, div.reviews, div.video, div.contacts {
    margin: 3.5%;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.3%;
    row-gap: 25px;
}

.bakery-photo {
    width: 100%;
    height: 100%;
    padding: 3%;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid white;
}

.bakery-item {
    padding: 0;
    margin: 0;
}

/* About Us */

.about-us-description{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    padding: 1.5%;
    overflow: hidden;
    margin: auto;
}

.about-us-border {
    width: 100%;
    padding: 1.5%;
    border: 2px solid #FFFFFF;
}

.about-us-photo {
    width: 100%;
    box-sizing: border-box;
    padding: 4%;
    border: 2px solid #FFFFFF;
}

.about-us-grid {
    display: grid;
    grid-template-columns: 62% 33%;
    column-gap: 5%;
}

/* Reviews */

.reviews-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    align-items: space-between;
}

.review-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
}

.review-item-border {
    margin: 3%;
    padding: 3%;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
}

.see-more {
    margin: auto 0 auto auto;
}

/* Video */

.video-border {
    padding: 1.5%;
    border: 2px solid #FFFFFF;
}

.embeded-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.embeded-video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contacts */

div.map {
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
    height:0;
}

.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Footer */

footer {
    background-color: #DB6D9E;
    margin: 0;
}

div.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    margin: 0.8% 0;
}

div.contacts-list {
    display: flex;
    flex-direction: column;
    margin: 0 3.5%;
}

/* Typography */

a {
    text-decoration: none;
}

.contact-link {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 187.5%;
    color: #FFFFFF;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

h2 {
    font-family: 'Birthstone';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #A7396A;
    text-align: left;
}

h3 {
    font-family: 'Birthstone';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: #A7396A;
    text-align: center;
    margin: auto;
}

.menu-heading {
    color: #FFFFFF;
}

p.about-us {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #A7396A;
}

p.review {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #A7396A;
}

p.date {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: #A7396A;
}

/* Decoration */

.border-line-long {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 54%;
    margin: 50px auto;
}

.border-line-medium {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    margin: 5% auto;
}

.border-line-short {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 49%;
    margin: auto;
}

/* Media Queries */

@media screen and  (min-width: 480px) and (max-width: 767.98px) {
.categories-grid {
    grid-template-columns: repeat(3, 1fr);
    }
h1 {
    font-size: 6vw;
    }
}

@media screen and  (min-width: 480px) and (max-width: 1000px) {
.order-button {
        width: 23vw;
        }
.button {
        font-size: 20px;
    }
.reviews-grid div:nth-child(4n){
        display: none;
    }
.reviews-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-items: space-between;
    }
.see-more {
        margin-left: 0;
    }
div.map {
    padding-bottom:35%;
    }
    
}

@media screen and  (max-width: 479.98px) {
.main-page {
    background-image: url('../image/Background-image.png');
    }
.order-button {
    width: 30vw;
    }
.button {
    font-size: 16px;
    }
.categories-grid {
    grid-template-columns: repeat(2, 1fr);
    }
h3 {
    font-size: 7vw;
    }
h2 {
    font-size: 48px; 
    }
h1 {
    font-size: 7vw;
}
p.about-us {
    font-size: 20px;
}
p.review {
    font-size: 5vw;
    }
p.date {
    font-size: 5vw;
    }
.about-us-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    }
.reviews-grid div:nth-child(3n){
    display: none;
    }
.reviews-grid div:nth-child(4n){
    display: none;
    }
.see-more {
    margin-left: 0;
}
.reviews-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }
div.map {
    padding-bottom:60%;
    }    
}